/* min-width:768px */

div.all_places_to_see {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div.single_place {
    width: 48%;
}

div.single_place img{
    height: 220px;
    object-fit: cover;
}

/* zmienić układy sekcji kontaktu i komenatrzy na 3-kolumnowy + ograniczyć szerokość do wybranej maksymalnej, np 730px */

div.sekcja_komentarzy {
    display: flex;
    max-width: 730px;
    gap: 30px;
    text-align: right;
}

div.single_comment {
    width: 30%;
    max-width: 730px;

}

div.all_contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 730px;
    text-align: center;
    width: 730px;
}

div.single_contact {
    width: 200px;
    padding: 10px;
}

section.map iframe
{
    max-width: 730px;
}

div.newsletter_box {
    max-width: 730px;
    width: 100%;
}

section.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}