* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    scroll-behavior: smooth;
}

div.single_place img {
    display: block;
    width: 100%
}

/* styl dla nagłówka */

.blue {
    color: #044D8C
}

.darkblue {
    color: #004B79;
}

.h2 {
    color: #004B79;
}

h2.h2 {
    padding: 10px 0;
    text-align: center;
}

.beżowy {
    color: #424242;
}

/* sekcja kontaktu */
div.single_contact i {
    font-size: 50px;
    color: rgb(58, 50, 41);
    border: 5px solid rgb(58, 50, 41);
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
}

header {
    width: 100%;
    height: 100vh;
    padding: 10px 10px 30px;
    background-image: url('https://cdn.pixabay.com/photo/2021/08/01/12/58/beach-6514331_960_720.jpg');
    background-position: 60% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.map {
    padding: 10px;
}

section.map iframe {
    width: 100%;
}

h2.h2 {
    padding: 10px 0;
}

section.contact {
    padding: 10px
}

div.single_contact:last-child {
    margin-bottom: 0;

}

/* sekcja newslettera */
section.newsletter {
    background-color: #C9DFF2;
    padding: 10px 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin: 10px 0;
}

section.newsletter form {
    margin: 10px 0;
}

section.newsletter form .newsletter_inputs {

    display: flex;
    flex-direction: column;

}

section.newsletter form .newsletter_inputs input {

    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border: none;
}

button.button {
    width: 100%;
}

.button {
    background-color: #004B79;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #004B79;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #004B79;
    transition: 0.5s;
}

/* miejsca do odwiedzenia */

section.all_places_to_see {
    padding: 10px;
}

section.all_places_to_see div.single_place p {
    padding: 10px 10px 0 10px;
    text-align: center;
    line-height: 1.3;
}

div.single_place img {
    width: 100%;
}

/*sekcja komentarzy*/
section.comments {
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2021/08/01/12/58/beach-6514331_960_720.jpg');
    background-position: 60% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


section.comments .single_comment {
    background-color: #ffffffcc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

section.comments .single_comment p:first-child {
    text-align: center;
    line-height: 1.3;
}

section.comments .single_comment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

.stopka {
    text-align: center;
    gap: 10px;
}

/* sekcja faq */
section.faq {
    padding: 10px;
}

div.accordion {
    width: 100%;
    margin-bottom: 10px;
}

div.box {
    margin: 10px;
    border-top: 1px solid black;
}

div.box:last-child {
    border-bottom: 1px solid black;
}

button.accordion_button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button.accordion_button:hover {
    cursor: pointer;
}

.info {
    display: none;
}

.active {
    display: none;
}

.active_box {
    display: block;
}

div.accordion {
    max-width: 728px;
}

.active_arrow {
    transform: rotate(180deg);
}